<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" whatever dir=" attr   goes here ">
    $(misc::junk::header(ctx.info))

    <div id='a  bef $(ctx.attr) aft'>
        <img src="/asdf" />

        $(ctx.contents)

        num = $(ctx.num)


        <div>
            $!(ctx.danger)
        </div>


        <p>HIDDEN</p> ?(ctx.showSomething)
        <p>NOT HIDDEN</p> ?(!ctx.showSomething)

        <p    class="blah"         > ?(ctx.num < 200 && ctx.num > 100)
            <div>pre</div>
        </p>

        <p>
            <div>post</div>
        </p> ?(ctx.num > 20)


        $;(
            const auto &myItems = ctx.items;
            size_t numItems = ctx.items.size();
        )

        <ul> ?(numItems)
          <li>$(i)</li> @(const auto &i : myItems)
        </ul>

        <ul> ?(numItems > 1000)
          <li>$(i)</li> @(const auto &i : myItems)
        </ul>


        <!-- comment! -->


        <>
            <div>HI!</div>
            <>not here</> ?(false)
            <>I am <b>here</b></> ?(true)
        </>

        <div>
            <>$(i)</> @(auto i : {1,2,3,4})
        </div>
    </div>
</html>
