<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" whatever dir="blah">
    $(misc::junk::header(ctx.info))

    <div id='a  bef $(ctx.attr) aft'>
        $(ctx.contents)
        num = $(ctx.num)

        <p>HIDDEN</p> ?(ctx.showSomething)

        <ul> ?(ctx.items.size())
          <li>$(i)</li> @(const auto &i : ctx.items)
        </ul>
    </div>
</html>
